// 样式方法定义文件
//方法
.t-l() {
    text-align: left;
}
.t-r() {
    text-align: right;
}
.t-c() {
    text-align: center;
}
.text-overflow () {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-overflow-line (@num) {
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: @num;
    overflow: hidden;
}

.clearfix () {
    &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
}

.m(@num) {
    margin: @num * 1px;
}
.m-t(@num) {
    margin-top: @num * 1px;
}
.m-b(@num) {
    margin-bottom: @num * 1px;
}
.m-r(@num) {
    margin-right: @num * 1px;
}
.m-l(@num) {
    margin-left: @num * 1px;
}
.m-v(@num) {
    margin: @num * 1px 0;
}
.m-h(@num) {
    margin: 0 @num * 1px;
}
.p(@num) {
    padding: @num * 1px;
}
.p-t(@num) {
    padding-top: @num * 1px;
}
.p-b(@num) {
    padding-bottom: @num * 1px;
}
.p-r(@num) {
    padding-right: @num * 1px;
}
.p-l(@num) {
    padding-left: @num * 1px;
}
.p-v(@num) {
    padding: @num * 1px 0;
}
.p-h(@num) {
    padding: 0 @num * 1px;
}
.flex() {
    display: flex;
}
.flex-column() {
    .flex();
    flex-direction: column;
}
.flex-row() {
    .flex();
    flex-direction: row;
}
.flex-center() {
    justify-content: center;
    align-items: center;
}
.flex-column-center() {
    .flex-column();
    .flex-center();
}
.flex-row-center() {
    .flex-row();
    .flex-center();
}
.flex-end-center() {
    justify-content: flex-end;
    align-content: center;
}
.flex-start-center() {
    justify-content: flex-start;
    align-content: center;
}

// 修改滚动条
.change-scroll-bar() {
    &::-webkit-input-placeholder {
        color: #000;
        opacity: 0.25;
        font-size: 14px;
    }
    
    &::-moz-placeholder {
        color: #000;
        opacity: 0.25;
        font-size: 14px;
    }
    
    &:-moz-placeholder {
        color: #000;
        opacity: 0.25;
        font-size: 14px;
    }
    
    &:-ms-input-placeholder {
        color: #000;
        opacity: 0.25;
        font-size: 14px;
    }
}
// 滚动相关
.scroll-x() {
    overflow-x: scroll;
    overflow-y: hidden;
    display: block;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
.scroll-y() {
    overflow-x: hidden;
    overflow-y: scroll;
    display: block;
    -webkit-overflow-scrolling: touch;
}

// border 相关
.border-line() {
    position: relative;
    &::after {
        height: 1px;
        background-color: @border-color;
        position: absolute;
        bottom: 0;
        left: @gap-md;
        right: @gap-md;
        transform: scaleY(.5);
        content: '';
    }
}

.border-line(@color, @left, @right) {
    position: relative;
    &::after {
        height: 1px;
        background-color: @color;
        position: absolute;
        bottom: 0;
        left: @left;
        right: @right;
        transform: scaleY(.5);
        content: '';
    }
}

.border-line-top() {
    position: relative;
    &::after {
        height: 1px;
        background-color: @border-color;
        position: absolute;
        top: 0;
        left: @gap-md;
        right: @gap-md;
        transform: scaleY(.5);
        content: '';
    }
}

.border-line-top(@color, @left, @right) {
    position: relative;
    &::after {
        height: 1px;
        background-color: @color;
        position: absolute;
        top: 0;
        left: @left;
        right: @right;
        transform: scaleY(.5);
        content: '';
    }
}