<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="网站关键词"/>
    <meta name="description" content="网站描述"/>
    <title>首页</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../style/base.css">
    <link rel="stylesheet" href="../style/index.css">
</head>
<body>
    这个是首页，用来测试。
    <div class="test-class">测试的方块</div>
</body>
</html>